<tbody>
    {{#each bookings}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.origin}}</td>
        <td>{{this.destination}}</td>
        <td>{{this.pickupDate}} - {{this.pickupTime}}</td>
        <td>{{this.dropoffDate}} - {{this.dropoffTime}}</td>
        <td>{{this.returnDate}}</td>
        <td>{{this.groupSize}}</td>
        <td>{{this.contactNumber}}</td>
        <td>{{this.email}}</td>
        <td>{{this.description}}</td>
    </tr>
    {{/each}}
</tbody>
