<title>Database</title>
<link rel="stylesheet" href="/css/database.css">

<body>
    <div class="container">
        {{>sidebar}}
        <div class="main-content">
            <form id="filter-form" action="/editdb" method="post">
                {{>header}}
            </form>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)">Form Number</th>
                            <th onclick="sortTable(1)">Reference Code</th>
                            <th onclick="sortTable(2)">Company Name</th>
                            <th onclick="sortTable(3)">Pick-up Location</th>
                            <th onclick="sortTable(4)">Destination</th>
                            <th onclick="sortTable(5)">Pickup Date - Time</th>
                            <th onclick="sortTable(6)">Departure Date - Time</th>
                            <th onclick="sortTable(7)">Passengers</th>
                            <th>Contact No.</th>
                            <th>Email</th>
                            <th>Additional Info</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each bookings}}
                        <tr>
                            <td>{{this.formNumber}}</td>
                            <td>{{this.referenceCode}}</td>
                            <td>{{this.contactCompanyName}}</td>
                            <td>{{this.pickupAddress}}</td>
                            <td>{{this.destinationAddress}}</td>
                            <td>{{this.pickupDate}} - {{this.pickupTime}}</td>
                            <td>{{this.departureDate}} - {{this.departureTime}}</td>
                            <td>{{this.pickupPassengers}}</td>
                            <td>{{this.contactNumber}}</td>
                            <td>{{this.contactEmail}}</td>
                            <td>{{this.departureAddInformation}}</td>
                            <td>
                                {{#ifCond this.status '==' 'confirmed'}}
                                    <span class="status-confirmed">Confirmed</span>
                                {{else ifCond this.status '==' 'processing'}}
                                    <span class="status-processing">Processing</span>
                                {{else ifCond this.status '==' 'cancelled'}}
                                    <span class="status-cancelled">Cancelled</span>
                                {{else}}
                                    <span>{{this.status}}</span>
                                {{/ifCond}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="/js/dbview.js"></script>

