
<title>Edit Database</title>
<link rel="stylesheet" href="/css/database.css">

<body>
    <div class="container">
        {{>sidebar}}
        
        <div class="main-content">
            <form id="filter-form" action="/editdb" method="post">
                {{>header}}
            </form>

            <form id="edit-form" method="post">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Form Number</th>
                                <th>Reference Code</th>
                                <th>Company name</th>
                                <th>Pick-up Location</th>
                                <th>Destination</th>
                                <th>Pickup Date - Time</th>
                                <th>Departure Date - Time</th>
                                <th>Passengers</th>
                                <th>Contact No.</th>
                                <th>Email</th>
                                <th>Additional Info</th>
                                <th>Action</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each bookings}}
                            <tr>
                                <td><input type="checkbox" class="row-checkbox" name="ids" value={{this._id}}></td>
                                <td>{{this.formNumber}}</td>
                                <td>{{this.referenceCode}}</td>
                                <td>{{this.contactCompanyName}}</td>
                                <td>{{this.pickupAddress}}</td>
                                <td>{{this.destinationAddress}}</td>
                                <td>{{this.pickupDate}} - {{this.pickupTime}}</td>
                                <td>{{this.departureDate}} - {{this.departureTime}}</td>
                                <td>{{this.pickupPassengers}}</td>
                                <td>{{this.contactNumber}}</td>
                                <td>{{this.contactEmail}}</td>
                                <td>{{this.departureAddInformation}}</td>
                                <td><button type="button" class="edit-button" onclick="changeFormMethodAndAction('GET', '/editdb/{{this._id}}/edit')">Edit</button></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="edit-options">
                    <button type="button" class="delete-button" onclick="changeFormMethodAndAction('POST', '/editdb/delete')">Delete</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    function changeFormMethodAndAction(method, action) {
            const form = document.querySelector('#edit-form');
            
            if (!form) {
                console.error('Form with id "edit-form" not found!');
                return;
            }

            form.method = method;
            form.action = action;
            form.submit();
        }
</script>


<script src="/js/dbview.js"></script>



