<title>Edit Entry</title>
<link rel="stylesheet" href="/css/customAlert.css">
<link rel="stylesheet" href="/css/database.css">

<body>
    <div class="container">
        {{>sidebar}}

        <div class="main-content">
            <div class="header">
                <h1>Edit Entry</h1>
                <div class="user-profile">
                    <span class="user-name">admin</span>
                    <div class="user-avatar"></div>
                </div>
            </div>
            <form id="edit-form" method="post" data-id="{{editForm._id}}">
                <div class="form-container">
                    <div class="form-group">
                        <label for="pickupAddress">Location:</label>
                        <input type="text" class="edit-entry" name="pickupAddress" value="{{editForm.pickupAddress}}">
                    </div>
                    <div class="form-group">
                        <label for="destinationAddress">Destination:</label>
                        <input type="text" class="edit-entry" name="destinationAddress" value="{{editForm.destinationAddress}}">
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="pickupDate">Pickup Date:</label>
                            <input type="date" class="edit-entry" name="pickupDate" value="{{editForm.pickupDate}}">
                        </div>
                        <div class="form-group">
                            <label for="pickupTime">Pickup Time:</label>
                            <input type="text" class="edit-entry" name="pickupTime" value="{{editForm.pickupTime}}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="departure-date">Departure Date:</label>
                            <input type="date" class="edit-entry" name="departureDate" value="{{editForm.departureDate}}">
                        </div>
                        <div class="form-group">
                            <label for="departureTime">Departure Time:</label>
                            <input type="text" class="edit-entry" name="departureTime" value="{{editForm.departureTime}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="contactCompanyName">Company Name:</label>
                        <input type="string" class="edit-entry" name="contactCompanyName" value="{{editForm.contactCompanyName}}">
                    </div>
                    <div class="form-group">
                        <label for="pickupPassengers">Passengers:</label>
                        <input type="number" class="edit-entry" name="pickupPassengers" value="{{editForm.pickupPassengers}}">
                    </div>
                    <div class="form-group">
                        <label for="contactNumber">Contact No.:</label>
                        <input type="tel" class="edit-entry" name="contactNumber" value="{{editForm.contactNumber}}">
                    </div>
                    <div class="form-group">
                        <label for="contactEmail">Email:</label>
                        <input type="contactEmail" class="edit-entry" name="contactEmail" value="{{editForm.contactEmail}}">
                    </div>
                    <div class="form-group">
                        <label for="departureAddInformation">Additional Info:</label>
                        <textarea class="edit-entry" name="departureAddInformation">{{editForm.departureAddInformation}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select id="status" onchange="changecolor(this)" class="edit-entry" name="status">
                            <option value="confirmed" style="color: green;" {{#ifCond editForm.status '==' 'confirmed'}}selected{{/ifCond}}>Confirmed</option>
                            <option value="processing" style="color: rgb(201, 201, 24);" {{#ifCond editForm.status '==' 'processing'}}selected{{/ifCond}}>Processing</option>
                            <option value="cancelled" style="color: red;" {{#ifCond editForm.status '==' 'cancelled'}}selected{{/ifCond}}>Cancelled</option>
                        </select>
                    </div>

                    <div class="form-options">
                        <div class="form-buttons">
                            <button type="button" class="edit-button" >Save Changes</button>
                            <button type="button" class="cancel-button" onclick="window.location.href='/editdb'">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="../js/calendar.js"></script>
</body>

{{!-- Custom Alert div 2 --}}
<div id="customAlert2" class="custom-alert">
    <div class="custom-alert-content">
        <span class="close-btn" onclick="closeCustomAlert()">&times;</span>
        <p id="alertMessage2"></p> <!-- Unique ID for customAlert2 -->
        <button class="ok-btn">OK</button>
        <button class="cancel-btn">Cancel</button>
    </div>
</div>
{{!-- End of Custom Alert div --}}

<script src="/js/actionButton.js"></script>
<script src="/js/editPage.js"></script>

